@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

.page {
  width: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}

.main-navigation {
  position: relative;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  text-align: center;
  width: 20%;
  padding: 15px;
}

.nav-item.current a {
  color: #766357;
}

.nav-item a {
  padding: 22px auto;
  cursor: pointer;
}

.nav-item a:hover {
  color: #81b3d2;
}

.nav-item a:active {
  color: #000000;
  opacity: 0.3;
}

.nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-link {
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
}

.promo {
  position: relative;
  padding-bottom: 80px;
  padding-top: 75px;
  background-color: #81b3d2;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 1px;
  background-attachment: fixed;

}

.promo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;
  background-image: url("../img/mask.png");
}

.promo img {
  margin: 0 auto;
}

.intro-title {
  margin: 0;
  margin: 60px 295px 28px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.intro-information {
  margin: 0;
  text-align: center;
  padding-bottom: 50px;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.reason-info {
  box-sizing: border-box;
  margin: 0;
  padding: 48px 48px 40px;
  width: 400px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.reason-item {
  display: flex;
  flex-wrap: wrap;
}

.reason-item-image {
  width: 800px;
}

.reason-info-title {
  margin: 0;
  padding-bottom: 21px;
  padding-left: 55px;
  padding-right: 60px;
  line-height: 21px;
  font-size: 21px;
}

.reason-info-description {
  margin: 0;
  padding-top: 19px;
  font-size: 14px;
  line-height: 21px;
}

.reason-item.reason-item-top {
  display: flex;
  flex-wrap: wrap;
}

.reason-item.reason-info {
  position: absolute;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item-title {
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 21px;
  font-weight: bold;
}

.advantages-item-left .advantages-item-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 72px;
  width: 75px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E");
}

.advantages-item-middle .advantages-item-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 72px;
  width: 75px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E");
}

.advantages-item-right .advantages-item-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 76px;
  width: 64px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%2381B3D2' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z'/%3E%3C/svg%3E");
}

.advantages-item-description {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  margin-bottom: 70px;
  line-height: 21px;
}

.advantages-item {
  margin: 0;
  padding: 161px 48px 9px;
  width: 400px;
  text-align: center;
}

.reason-item-bottom {
  flex-direction: column;
  width: 400px;
  padding: 50px 70px 65px;
  margin: 0 auto;
  text-align: center;
  background: #eeeeee;
}

.search-information {
  text-align: center;
  padding-top: 43px;
}

.search-information-promo {
  font-size: 30px;
  line-height: 36px;
}

.search-information-text {
  margin: 0;
  padding: 22px 349px 44px;
}

.search-information-btn {
  width: 570px;
  margin: 0;
  padding: 0;
  padding: 31px 0;
  text-transform: inherit;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.search-information-btn:hover {
  background-color: #604e43;
}

.search-information-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
}

.search-form {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 570px;
  padding: 55px;
  padding-bottom: 50px;
  margin: auto;
  justify-content: center;
  background: #ffffff;
  z-index: 2;
}

.search-form-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 28px;
}

.search-form-item label {
  width: 100px;
  text-align: left;
  margin-right: 8px;
}

.search-form-item input {
  width: 346px;
  min-height: 38px;
  background-color: #f2f2f2;
  text-transform: inherit;
}

.form-calendar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 4px;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-calendar svg {
  fill: #a9a9a9;
}

.form-calendar:hover svg {
  fill: #000000;
}

.form-calendar:active svg {
  fill: #81b3d2;
}

.html-logo {
  fill: #000000;
  cursor: pointer;
}

.html-logo:hover {
  fill: #81b3d2;
}

.html-logo:active {
  fill: #a9a9a9;
}

.amount-block input {
  background-color: #f2f2f2;
  width: 38px;
}

.search-form-amount {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-right: 3px;
}

.amount-block label {
  padding: 0px;
  padding-top: 8px;
  margin-right: 26px;
}

.amount-block:nth-of-type(1) label {
  margin-right: 37px;
}

.btn.btn-submit {
  margin-top: 55px;
  cursor: pointer;
}

.amount-block-btn {
  position: relative;
  width: 38px;
  height: 38px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}

.amount-block-btn::before,
.amount-block-btn::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  height: 3px;
  width: 12px;
  background-color: #a9a9a9;
}

.amount-block-btn:nth-of-type(2n)::after {
  transform: rotate(90deg);
}

.amount-block-btn:hover::before,
.amount-block-btn:hover::after {
  background-color: #000000;
}

.amount-block-btn:active::before,
.amount-block-btn:active::after {
  background-color: #81b3d2;
}

.amount-block input,
.search-form-item input {
  background: #f2f2f2;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.amount-block input:hover,
.search-form-item input:hover {
  background: #ebebeb;
}

.amount-block input:focus,
.search-form-item input:focus {
  border: 1px solid #e5e5e5;
  background: #ffffff;
}

.search-form-item-field {
  padding-left: 15px;
  padding-right: 40px;
}

.amount-block-field {
  width: 40px;
  height: 38px;
  text-align: center;
}

.search-form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.search-form-amount {
  display: flex;
}

.amount-block {
  display: flex;
}

.btn.btn-submit {
  display: inline-block;
  padding: 17px;
  width: 458px;
  vertical-align: top;
  font-size: 21px;
  border: none;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: inherit;
}

.btn.btn-submit:hover {
  background: #669ec0;
}

.btn.btn-submit:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-form {
  display: flex;
  padding: 0px 72px 10px 72px;
}

.hotels-form-block {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  border: none;
}

.hotels-form-subscription {
  padding-top: 27px;
}

.hotels-form-block.middle-form-block {
  margin-left: 119px;
}

.hotels-form-block.right-form-block {
  margin-left: auto;
}

.hotels-form-label {
  padding-left: 39px;
  position: relative;
  margin-top: 19px;
  margin-bottom: 20px;
}

.field-input-checkbox + .hotels-form-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.field-input-checkbox:checked + .hotels-form-label::before {
  top: 0;
  left: -2px;
  width: 27px;
  height: 25px;
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.field-input-checkbox:focus + .hotels-form-label::before {
  filter: drop-shadow(0 0 4px #ffffff);
}

.main-footer {
  display: flex;
  align-items: center;
}

.main-footer-index {
  position: relative;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.iframe-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  frameborder: 0;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  margin-left: 130px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 255px;
}

.footer-social-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background: #81b3d2;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-right: 6px;
  cursor: pointer;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item svg:active {
  opacity: 0.3;
}

.footer-social-block:hover {
  background: #669ec0;
}

.footer-copyright {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-left: 222px;
}

.hotels-form-block.left-form-block input[type="checkbox"],
.hotels-form-block.middle-form-block input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.hotels-form {
  background: url("../img/filter background.jpg");
  color: #ffffff;

}

.hotels-form legend {
  font-weight: bold;
  padding-left: 0px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 2px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.filter-item {
  font-size: 12px;
}

.filter-item a:hover {
  color: #81b3d2;
}

.filter-item a:active {
  color: rgba(0, 0, 0, 1);
  border: none;
}

.filter-item:first-child a {
  color: #81b3d2;
  opacity: 1;
  border: none;
}

.filter-item:not(first-child) a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.filter {
  display: flex;
  padding: 29px 70px;
}

.filter b {
  margin-right: 50px;
  font-size: 21px;
}

.filter span {
  margin-right: 40px;
  font-size: 12px;
}

.filter-list {
  display: flex;
}

.filter-item {
  margin-right: 34px;
}

.price-controls {
  display: flex;
  width: 317px;
  height: 36px;
  margin-bottom: 20px;
  margin-top: 8px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 146px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 10px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  left: -2px;
  top: -1px;
  background: #ababab;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 84px;
  padding: 6px 11px 6px 10px;
  width: 138px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.arrows {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.arrow-up {
  display: inline-block;
  margin-right: 13px;
  margin-top: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #000000 transparent;
  opacity: 0.3;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 3px;
  margin-top: 9px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #81b3d2 transparent transparent transparent;
}

.arrow-down:hover {
  border-color: #231f20 transparent transparent transparent;
}

.arrow-up:hover {
  border-color: transparent transparent #231f20 transparent;
  opacity: 1;
}

.arrow-down:active {
  border-color: #81b3d2 transparent transparent transparent;
}

.arrow-up:active {
  border-color: transparent transparent #81b3d2 transparent;
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fefefe;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

.catalog-item-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 30px;
  margin-left: 70px;
  margin-right: 74px;
}

img.catalog-item-img {
  width: 135px;
  height: 90px;
}

.catalog-item-content {
  display: flex;
  flex-grow: 1;
}

.catalog-list-stats {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item-stats {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17'%3E%3Cpath fill='%2381B3D2' d='M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 5px;
}

.catalog-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 33px;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
  margin-top: -5px;
  font-size: 21px;
  cursor: pointer;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-information {
  display: flex;
}

.catalog-item-type {
  width: 115px;
}

.catalog-item-price {

}

.catalog-list-rate {
  margin-left: auto;
}

.catalog-item-subscription {
  display: inline-block;
  padding: 0px;
  padding-left: 16px;
  width: 110px;
  background-color: #81b3d2;

  margin-right: 1px;
  color: #ffffff;
  font-weight: bold;
}

.catalog-item-subscription:hover {
  background: #669ec0;
}

.catalog-item-subscription:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-btn {
  display: inline-block;
  width: 141px;
  padding: 0;
  padding-left: 17px;
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
}

.catalog-item-btn:hover {
  background: #604e43;
}

.catalog-item-btn:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  list-style: none;
}

.catalog-position {
  display: inline-block;
  margin-top: 45px;
  width: 110px;
  text-align: center;
  background-color: #f2f2f2;
  color: #666666;
}


@keyframes show {
  from {
    opacity: 0;
    transform: translate(0, 0%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

@keyframes shake {
  from,
  to {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-51%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-49%);
  }
}

.search-form {
  display: none;
}

.search-form-active {
  display: flex;
  animation-name: show;
  animation-duration: 0.7s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 1s;
}
